{% load static %}

<div class = 'mainbody'>
    <div class = 'homebox'>
        <h2>About</h2>
        <p>This page is for some information regarding the website.</p>
        <ul>
            <li>Watching Shows</li>
            <li>Requests</li>
            <li>Information</li>
        </ul>
        <h2>Watching Shows</h2>
        <h3>Subtitles</h3>
        <p>By default, the subtitles are placed in a separate captions tag. To enable subtitles, click on the extra options (3 dots) on the bottom right of the video player.</p>
        <p>For most episodes, subtitles will be external, meaning that they need to be enabled as above. If an episode does not have subtitles at all, please inform me</p>
        <h3>Streaming</h3>
        <p>As these shows were downloaded and altered minimally, the file sizes are huge. Please be mindful of the data usage when you stream.</p>
        <h3>Airing</h3>
        <p>I have made attempts to automatically upload Anime and English shows as they are available. However this is pretty much impossible for Kdrama as they
            do not always have subtitles, so I have to manually find the proper files online.
        </p>
        <h2>Requests</h2>
        <h3>Requesting</h3>
        <p>The request function uses free API on the web to search for existing shows. Sometimes, the API may be down and requests can't go through. Furthermore,
            title of shows are determined by the free databases online, hence you have to ensure your query matches the title online.
        </p>
        <p>There is a mini upvote button on every request. Everyone can only upvote each request once. Also, the person who made the request can delete it anytime.</p>
        <h3>Fulfilling of requests</h3>
        <p>Even though the requests can be made anytime, I may not upload those shows due to lack of disk space and bandwidth.</p>
        <h2>Information</h2>
        <h3>Specifications</h3>
        <p>This website was made in:
            <ul>
                <li>Python</li>
                <li>Django</li>
            </ul>
            with usage of:
            <ul>
                <li>Apache for serving</li>
                <li>Celery for async tasks</li>
                <li>hmailserver for sending emails</li>
                <li>ffmpeg for video encoding and splitting</li>
                <li>YDNS free dynamic dns service</li>
            </ul>
        </p>
        <h3>Bug Reporting</h3>
        <p>If something doesn't work, do send me a PM regarding the matter. Do not send the email that you received an invite code in as it cannot receive emails</p>
    </div>
    <div style ="width:100%; padding-bottom:10%;">
    </div>